@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #161616;
}

section .circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e51e2a;
    clip-path: circle(70% at right -20%);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    position: relative;
    max-width: 150px;
}

header .navigation
{
    position: relative;
    display: flex;
}

header .navigation li
{
    list-style: none;
}

header .navigation li a
{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
}


header .navigation li a:before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid #fff;
    transition: 0.4s linear;
}

header .navigation li a:hover:before
{
    width: 90%;
}

.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .textBox h2
{
    color: #fff;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textBox p
{
    color: #fff;
}

.content .textBox a
{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    font-weight: 500;
    letter-spacing: 1px;
    background: #e51e2a;
    border-radius: 40px;
    transition: 0.4s;
}


.content .textBox a:hover{
    background: transparent;
    border: 1px solid #e51e2a;
}

.sci
{
    position: absolute;
    bottom: 40px;
    left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li
{
    list-style: none;
}

.sci li a
{
    display: inline-block;
    margin-left: 25px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover
{
    background: #e51e2a;
    transform: translateY(-10px);
}

.sci li a img
{
    filter: invert(1);
    transform: scale(0.5);
}

.swiper-container
{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide
{
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 460px;
    display: flex;
    justify-content: center;
}

.content .imgBox
{
    width: 500px;
    display: flex;
    justify-content: flex-end;
    
}

.content .imgBox img
{
    max-width: 200px;
}

.swiper-slide img
{
    position: relative;
    bottom: 0;
    max-height: 100%;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right
{
    background-image: none;
}

@media(max-width:991px)
{
    header
    {
        padding: 40px;
    }

    section
    {
        padding: 150px 40px;
    }

    .sci
    {
        left: 40px;
    }

    .content
    {
        flex-direction: column;
    }

    .content .textBox,
    .content .imgBox
    {
        max-width: 100%;
    }

    .swiper-slide
    {
        height: 100px;
    }

    header .navigation
    {
        display: none;
    }

    header .navigation .active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #e51e2a;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    header .navigation li a 
    {
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }

    .menuToggle
    {
        position: relative;
        width: 30px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .menuToggle::before
    {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(-10px);
        transition: 0.5s;
        box-shadow: 0 10px #fff;
    }

    .menuToggle::after
    {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        transform: translateY(10px);
        transition: 0.5s;
    }

    header.active .menuToggle::before
    {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    header.active .menuToggle::after
    {
        transform: translateY(0px) rotate(315deg);
    }

    header ul 
    {
        display: none;
    }

    header.active ul 
    {
        position: fixed;
        left: 0;
        top: 84px;
        width: 100%;
        height: calc(100vh - 84px);
        background: #e51e2a;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 10000;
        gap: 20px;
    }

    header.active ul li a 
    {
        font-size: 2em;
    }
}